p {
	margin: 0.5em 0 1em 0;
}

dfn, cite, em, i {
	font-style: italic;
}

blockquote {
	border-left: 5px solid $border-border;
    padding: 0.5em 2em;
    margin: 0 1.5em 1em 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: $color__background-pre;
	font-family: $font__pre;
	@include font-size(0.9375);
	line-height: $font__line-height-pre;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code, kbd, tt, var {
	font-family: $font__code;
	@include font-size(0.9375);
}

abbr, acronym {
	border-bottom: 1px dotted $color__border-abbr;
	cursor: help;
}

mark,
ins {
	background: $color__background-ins;
    text-decoration: none;
    padding: 0.2em 0.5em;
}

big {
	font-size: 125%;
}