.widget {
    background: $white-color;
    padding: 1.5em;
	margin: 0 0 1.5em;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
}

.widget-title {
	font-size: 1.5rem;
}

.widget-area {
	font-size: 1rem;

	h2 {
	    margin: 0 0 1em 0;
	}

	ul {
		padding: 0 0 0 1em;
		margin: 0;
	}

	a:hover {
    	box-shadow: 0px 2px 0px 0px $color__link;
    }
}

input.search-submit {
	position: absolute;
    top: 1px;
    right: 0;
    padding: 1em;
}

.search-form {
	position: relative;

	.search-field {
	    width: 100%;
	}
}