.social-shares h3 {
	font-size: 1rem;
    margin-bottom: 0.5em;
}
.social-shares ul {
	display: inline-block;
	padding: 0;
}
.social-shares {
    list-style-type: none;
    padding: 0;
}
.social-shares li {
	display: inline-block;
	padding: 1em 0;
}
.social-shares a {
    padding: 1em;
    background: #fff;
    color: #555555;
    transition: all ease 0.7s;
}
.social-shares i {
    text-align: center;
    height: 1em;
    width: 1em;
    padding: 0;
    line-height: 1em;
}
.social-shares a:hover {
    color: #fff;
}
.social-shares .facebook:hover{
	background:#5677b3;
}
.social-shares .twitter:hover{
	background:#37a2d4;
}
.social-shares .google-plus:hover{
	background:#e84747;
}

.post + .social-shares {
    margin: 0 0 2em 0;
}

.social-shares h3 {
    display: inline-block;
    margin-right: 0.5em;
}

@media all and (max-width: 1000px) {
	.entry-header .social-shares a:hover {
	    background: transparent;
	    color: inherit;
	}
    .entry-header .social-shares a {
        padding: 0.5em;
    }
}

@media all and (min-width: 1000px) {
    .entry-header .social-shares h3 {
        display:block;
        margin: 0 0 0.5em 0;
    }
    .entry-header .social-shares {
        text-align: center;
    }
    .entry-header .social-shares {
        position: absolute;
        left: -3.5em;
        top: 0;
    }
    .entry-header .social-shares li {
        float: left;
        clear: both;
    }
}