button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
    line-height: normal;
    padding: 1em 2em;
	border-color: $color__border-button;
	background: $color__background-button;
    color: $white-color;
	&:hover {
		background: $color__border-button-hover;
		border-color: $color__border-button-hover;
	}

	&:active,
	&:focus {
		background: $color__border-button-focus;
		border-color: $color__border-button-focus;
	}
}