$color__background-danger 	: #F44336;

$color__background-body 	: #f1f1f1;
$color__background-screen 	: #f1f1f1;
$color__background-hr 		: #eaeaea;
$color__background-button 	: #34495e;
$color__background-pre 		: #f1f1f1;
$color__background-ins 		: #fff9c0;

$color__text-screen 		: #21759b;
$color__text-input 			: #666;
$color__text-input-focus 	: #111;
$color__link 				: #34495e;
$color__link-visited		: #34495e;
$color__link-hover 			: #293b4c;
$color__text-main			: #404040;
$color__link-caption		: #8c8c8c;
$color__link-menu			: #fff;

$color__border-button		: #34495e;
$color__border-button-hover	: #293b4c;
$color__border-button-focus	: #293b4c;
$color__border-input		: #eaeaea;
$color__border-abbr			: #666;

/**
 * Colors
 */
$body-bg-color		: #f1f1f1;
$border-border		: #eaeaea;
$menu-color 		: #404040;
$comment-meta-color : #838383;

$white-color		: #fff;

$code-color 		: #fffffc;
$code-b-color 		: #EEE;
$border-border		: #eaeaea;

$color__entry_title		: #32373c;
$color__page_header-p	: #999;