$size__site-main: 100%;
$size__site-sidebar: 25%;

/**
 * Spacing
 */
$sidebar-gutter					: 0.5em;
$sidebar-grid-2-sidebar-width	: 30%;
$sidebar-grid-2-content-width	: 70%;
$sidebar-grid-3-sidebar-width	: 25%;
$sidebar-grid-3-content-width	: 50%;
